<div class="container col-12">
    <div class="row">
      <div class="col-12">
        <div data-aos="fade-up" data-aos-delay="1000" class="project1Card">
          <div class="col">          
            <div class="col" style="margin-left: 0px;">            
              <h3 data-aos="fade-up" data-aos-delay="700">Project Name : <span>{{projectName}} </span></h3>
              <!-- {{projectData}} -->
              <app-module [moduleName]="mName"></app-module>
            </div>          
          </div>
        </div>
      </div>
    </div>
    
