<div class="container col-12">
    <div class="row">
        <div data-aos="fade-up" data-aos-delay="1900" class="employeeCard">
            <h3>Employee Name : <span> {{employeeName1}}</span></h3>
            <div class="col">
                <app-employee-performance></app-employee-performance>
            </div>
            <h3>Employee Name : <span>{{employeeName2}}</span></h3>
            <div class="col">
                <app-employee-performance></app-employee-performance>
            </div>            
        </div>
    </div>
</div>

